h1 {
    margin: 20px;
}

.project-container {
    background-color: #a2c2ca;
    border: 1px solid black;
    padding: 10px;
    margin: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.project-container h2 {
    position: relative;
    font-size: 40px;
    margin-top: 0px;
}

.project-container h2::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0.1%;
    width: 99.9%;
    border-bottom: 1px solid black;
}

.image-description {
    display: flex;
    align-items: flex-start;
    gap: 10px; /* Espace entre l'image et la description */
    background-color: #a59e9e;
    border-radius: 20px;
    border: 1px solid black;
}

.image {
    flex: 0 0 auto;
}

.image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: -3.5px;
}

.description {
    /* flex: 1; */
    margin-top: -10px;
    padding-left: 10px;
}

.url_github-duration {
    align-items: flex-start;
    background-color: #a59e9e;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid black;
}

.skills-technologies {
    display: flex;
    justify-content: space-between;
}

.skills,
.technologies {
    width: 48.6%;
    padding-left: 10px;
    background-color: #a59e9e;
    border-radius: 20px;
    border: 1px solid black;
}

.skills {
    border-bottom-left-radius: 20px;
}

.technologies {
    border-bottom-right-radius: 20px;
}

.site-footer {
    background-color: #a2c2ca;
    border-radius: 20px;
    text-align: center;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid black;
}
