.project-container {
    background-color: #a2c2ca;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.project-container h2 {
    position: relative;
    font-size: 40px;
    margin-top: 0px;
}

.project-container h2::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0.1%;
    width: 99.9%;
    border-bottom: 1px solid black;
}

.image-description {
    display: flex;
    align-items: flex-start;
    gap: 10px; /* Espace entre l'image et la description */
}

.image {
    flex: 0 0 auto; /* Largeur automatique pour l'image */
}

.image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 10px;
}

.description {
    flex: 1;
    margin-top: -10px;
    padding-left: 10px;
}

.skills-technologies {
    display: flex;
    justify-content: space-between;
}

.skills,
.technologies {
    width: 48.8%;
    padding-left: 10px;
    background-color: #a59e9e;
    border-radius: 20px;
    border: 1px solid black;
}

.skills {
    border-bottom-left-radius: 20px;
}

.technologies {
    border-bottom-right-radius: 20px;
}
